<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Add to {{.ListName}}</title>
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
        Hello! {{.ListName}} has been alive since {{.StartTime}}<br/>
        {{ if .NewItem }}
            Add new item:<strong>Priority:{{ .NewItem.Priority }} - {{
                .NewItem.Item }}</strong></br/>
        {{ end }}
        <form method="POST" action="/add?d=1&s=1">
            <input type="hidden" name="s" value="1" />
        <input type="hidden" name="d" value="1" />
        Item:<input type="text" name="i"/><br/>
        Priority:<input type="text" name="p"/><br/>
        <input type="submit"/>
        </form>
        <br/>
        <a href="/?s=1">View your {{.ListName}} list!</a>
        {{ range $row := .MyList }}
            <li>
            {{ range $col, $val := $row }}
            {{ $col }}=<strong>{{ $val }}</strong><br/>
            {{ end }}
            </li>
        {{ end }}
	</body>
</html>
